@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Rubik:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Rubik:wght@600&display=swap');
body {
    background-color:#1d2a58;
    color: whitesmoke;
    font-family: 'Rubik', -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Oxygen,Ubuntu,Cantarell,open sans,helvetica neue,sans-serif;
  }
  h1, h2, h5 {
    color: whitesmoke;
    font-family: 'Rubik Mono One', -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Oxygen,Ubuntu,Cantarell,open sans,helvetica neue,sans-serif;
    font-size: 70px;
    padding-top: 5rem;
  }
  p, a {
    font-size: 20px;
  }
  footer {
    background-color:black;
  }
  a {
      text-decoration: none;
    }
.bg-carrusel {
 
    margin: 0% auto;
  }
.navigation {
 
   display: inline-block;
   position: fixed;
  }

  h1, h2 {
    border-bottom:orangered solid 20px;
   }

  p, h1, h2 {
    animation-duration: 1.5s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  .carousel-control-next-icon {
    size: 100px;
    color: orangered;
  }

  ::selection {
    background-color: #8e44ad;
    color: white;
  }

  a:hover {
    color: rgb(162, 0, 255);
}

  /*zoom*/
  .zoom{
      transition: width 1s, height 1s, transform 1s;
  }

  .zoom:hover{
      transform: scale(1.1);
  }